body {
    background: url('../image/img2.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #F1F4EC;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.container {
    display: flex;
    width: 1000px;
    height: 600px;
    background: #F6F6F6;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
 
#signup.container {
    width: 500px; 
    height: 600px; 
}
 
#signup p {
    line-height: 1.3; 
    margin-bottom: 8px; 
}
#signup h1, h2 {  
    margin-top: 0%;
    margin-bottom: 0px; 
}
 
.form-container {
    flex: 1; 
    padding: 40px;
}
 
.form-container p {
    line-height: 1.3; 
    margin-bottom: 8px; 
    font-size: 20px; 
    color: #7b241c; 
}
 
.form-container h1, .form-container h2 {
    margin-bottom: 0px; 
    line-height: 0; 
}
 
.image-container {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    background:#F6F6F6; 
    padding-right: 40px; 
}
 
.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transform: translateX(-20px); 
}
 
.input-group {
    display: flex;
    align-items: center;
    margin: 15px auto;
    position: relative;
    width: 90%;
    font-size: 20px;
}
 
.input-group i {
    position: absolute;
    left: 10px;
    color: #7b241c;
}
 
.input-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #f5b7b1;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Times New Roman;
}
 
input[type="submit"] {
    padding: 10px 20px;
    background-color: #7b241c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Times New Roman;
    font-size: 16px;
 
}
 
input[type="submit"]:hover {
    background-color: #CD5C5C;
}
 
.links {
    text-align: center;
    margin-top: 16px;
}
.links button {
    background: none;
    border: none;
    color: #7b241c;
    cursor: pointer;
    font-size: 16px;
    font-family: Times New Roman;
    text-decoration: underline;
}
.links button:hover {
    color: #CD5C5C;
    text-decoration: none;
}
 